img {
    width: 10%;
}
.infoProducto {
    border: 1px solid #121212;
	padding: 15px;
	width: 20%;
	border-radius: 10px;
	margin-right: 45px;
	margin-bottom: 20px;
	transition: 0.3s;
	float: right;
	text-align: center;
    display: block;
    height: 10%;
}